* {
    font-family: cursive;
}

body {
    background-color: #2E334D;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 35px;
    outline-color: rgba(0, 0, 0, 0.45);
    outline-style: solid;
    outline-width: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.top-bar h1 {
    flex: 1;
    color: #C3C9E9;
    text-align: center;
    font-size: 500%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-bar button {
    border: solid #24292E;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 150%;
    color: #C3C9E9;
    background-color: #49516F;
}

.top-bar button:hover {
    background-color: #363C5B;
    font-size: 170%;
}

.top-bar button:active {
    background-color: #2d324d;
    font-size: 150%;
}

.container-parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width: 500;
    margin: 0;
    margin-top: 40px;
}

.container {
    background: rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    outline-color: rgba(0, 0, 0, 0.45);
    outline-style: solid;
    outline-width: 10px;
}

input {
    width: 79%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #363C5B;
    background-color: #C3C9E9;
    color: #24292E;
    font-size: 25px;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: #C3C9E9;
    color: #2E334D;
    cursor: pointer;
}

button:hover {
    background-color: #adb4da;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #C3C9E9;
    font-size: 30px;
    cursor: move;
    word-break: break-all;
    white-space: normal;
}

li .delete-button {
    background: 0;
    color: #24292E;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 1000;
    font: bolder;
}

li .delete-button:hover {
    color: black;
}